
@import '../.tmp/animations'

html, body
  margin: 0
  padding: 0

.box-wrapper
  position: fixed
  top: 0
  left: 0
  right: 0
  background: rgba(white, 0.9)

  &:before
    content: ''
    display: block
    padding-top: 12rem

.box
  position: absolute
  top: 0; left: 0; right: 0; bottom: 0
  margin: auto
  width: 6rem
  height: 6rem
  background: royalblue

.controls
  max-width: 960px
  margin: 0 auto

  padding-top: 12rem

  button
    padding: 0.25rem 0.5rem
    font-size: 1rem

    background: #ddd
    border: 1px solid #ccc
    cursor: pointer

    margin: 0.5rem

    &:hover
      background: #ccc
